/* Fonts */

@font-face {
  font-family: 'Afacad';
  src: url('./assets/fonts/Afacad_Flux/static/AfacadFlux-Regular.ttf');
}

@font-face {
  font-family: 'Comfortaa';
  src: url('./assets/fonts/Comfortaa/static/Comfortaa-Regular.ttf');
}

@font-face {
  font-family: 'DM';
  src: url('./assets/fonts/DM_Sans/static/DMSans-Regular.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: inherit;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Common Styles */

:root {
  font-size: 62.5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
  max-height: 110vh;
  display: grid;
  --mint: #4ac798ff;
  --picton-blue: #1db5f5ff;
  --white: #f8fcfeff;
  --celadon: #78e3aaff;
  --sky-blue: #62e1fbff;
  --red: #ef4444;
  font-family: 'DM', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
  border: none;
  background-color: inherit;
}

button:hover {
  cursor: pointer;
}
