.sidebar {
  background-color: var(--white);
  overflow: scroll;
}

.sidebar > div:first-child {
  font-size: 1.75rem;
  padding: 1rem;
}

.chats {
  display: flex;
  flex-direction: column;
}

.chat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  padding: 0.75rem;
  min-height: 100px;
}

.actualChat {
  background-color: rgba(29, 180, 245, 0.251);
  border-radius: 5px;
}

.chatAvatars {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3vw, 1fr));
}

.chatUsernames {
  display: flex;
  flex-direction: column;
  place-self: center;
  font-weight: bold;
  font-family: 'Comfortaa', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

.chatUsernames > span::after {
  content: ',';
}

.chatUsernames > span:last-child::after {
  content: '';
}

.noChats {
  place-self: center;
  font-size: 1.5rem;
}

@media (min-width: 1000px) {
  .chat {
    grid-template-columns: 0.35fr 1fr;
  }

  .chatAvatars {
    grid-template-columns: repeat(auto-fit, minmax(2vw, 1fr));
  }

  .chatUsernames {
    font-size: 1.25rem;
  }
}
